<label>
  <input type="checkbox" [(ngModel)]="isContentDisplayed">
  Show hidden content
</label>

<p [hidden]="!isContentDisplayed">Content is revealed!</p>
<p *ngIf="isContentDisplayed">Secret content is revealed!</p>
