<label>
  Input a number:
  <input type="number" [(ngModel)]="userNumber">
</label>

<p *ngIf="userNumber > 10">The number is greater than 10</p>
<p *ngIf="userNumber < 10">The number is less than 10</p>
