<form>
  <div class="form-group">
    <label>
      Username:
      <input type="text"
             class="form-control"
             name="username"
             [(ngModel)]="username">
    </label>
  </div>
  <div class="form-group">
    <label>
      Password:
      <input type="password"
             class="form-control"
             name="password"
             [(ngModel)]="password">
    </label>
  </div>
</form>

<div *ngIf="username === 'admin' && password === 'adminpass'; else invalidCredentials"
     class="alert alert-success">
  <p>
    Hello Admin. Feel free to do whatever you want!
  </p>
</div>

<ng-template #invalidCredentials>
  <div class="alert alert-danger">
    <p>
      Invalid credentials.
    </p>
  </div>
</ng-template>
