<h2>Hello from User Information</h2>

<p>
  <label>
    <input type="checkbox" [(ngModel)]="isMale" (ngModelChange)="onIsMaleChange($event)">
    Is Male
  </label>
</p>

<p><strong>Is Male:</strong> {{isMale}}</p>

<p><strong>Name:</strong> {{name}}</p>
<p><strong>Age: </strong> {{age}}</p>
<p><strong>Address: </strong> {{address}}</p>
<p>
  <strong>Profile Picture: </strong>
  <img [src]="profilePicture" [alt]="name">
</p>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onProfilePictureChange()">Change Picture</button>
    <button class="btn btn-primary" (click)="onIncreaseAge()">Increase Age</button>
    <button class="btn btn-default" (mouseenter)="name = 'Jack'" (mouseleave)="onNameChange('John')">Change Name
    </button>
  </div>
</div>

<hr>

{{today | date: 'dd MMMM yyyy'}}

<hr>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email"
           [(ngModel)]="email"
           name="email"
           class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password"
           [(ngModel)]="password"
           name="password"
           class="form-control"
           id="exampleInputPassword1"
           placeholder="Password">
  </div>
  <button type="submit"
          class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-danger">Reset</button>
</form>
