<div class="row">
  <select [(ngModel)]="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>
</div>
<div *ngIf="gender === 'other'" class="row">
  <input type="text" [(ngModel)]="other">
</div>
<div class="row">
  <img [src]="getImageSource()">
</div>
