<label>
  Input name:
  <input #nameInput type="text">
</label>
<button (click)="onAdd(nameInput.value)" class="btn btn-primary">Add</button>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
