<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Router Example</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="task-one">Task One</a></li>
      <li routerLinkActive="active"><a routerLink="task-two">Task Two</a></li>
      <li routerLinkActive="active"><a routerLink="task-three">Task Three</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
