<div class="row">
  <label>
    Input Something:
    <input type="text" [(ngModel)]="userInput">
  </label>
</div>

<div class="row">
  <img [ngClass]="{'rounded-circle': userInput.length >= 10,
                    'bordered-image': userInput.length <= 10}"
    src="http://www.wwf.org.au/images/UserUploadedImages/416/img-koala-in-tree-1000px.jpg"
    alt="Koala">
</div>

<hr>

<div class="row">
  <label>
    Select alert type
    <select [(ngModel)]="selectedAlertType">
      <option value="alert-success">Success</option>
      <option value="alert-danger">Danger</option>
      <option value="alert-dark">Dark</option>
    </select>
  </label>
</div>

<div class="alert"
     [ngClass]="{'alert-success': selectedAlertType === 'alert-success',
                  'alert-danger': selectedAlertType === 'alert-danger',
                   'alert-dark': selectedAlertType === 'alert-dark'}">
  Hello
</div>
