img {
  width: 100px;
  height: 100px;
}

.bordered-image {
  border: 4px solid #af9a9a;
  -webkit-transition: ease .5s;
  -moz-transition: ease .5s;
  -ms-transition: ease .5s;
  -o-transition: ease .5s;
  transition: ease .5s;
}
