<div class="row">
  <label>
    Pick a color:
    <input type="color" [(ngModel)]="selectedFontColor">
  </label>
</div>

<!--<div class="row">-->
  <!--<label>-->
    <!--Font color:-->
    <!--<select [(ngModel)]="selectedFontColor">-->
      <!--<option value="black">Black</option>-->
      <!--<option value="red">Red</option>-->
      <!--<option value="green">Green</option>-->
      <!--<option value="blue">Blue</option>-->
      <!--<option value="yellow">Yellow</option>-->
    <!--</select>-->
  <!--</label>-->
<!--</div>-->
<div class="row">
  <label>
    Background color:
    <select [(ngModel)]="selectedBackgroundColor">
      <option value="transparent">Transparent</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
      <option value="yellow">Yellow</option>
    </select>
  </label>
</div>

<div class="row">
  <p [ngStyle]="{'color': selectedFontColor,
                  'background-color': selectedBackgroundColor}">
    This is an example! Yey!
  </p>
</div>
